.form{
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
    margin: 10px;
}
#img-profile{
    width: 230px;
    height: 230px;
}
@media only screen and (max-width: 892px) {
   
    #img-profile{
	margin:10px auto;
	display:block;
    }
}



.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
#divBusqueda{
    display: none;
    position:absolute;
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    z-index: 2;
}
#llistaBusqueda{
    margin-top: 15px;
    list-style:none;
    padding-left: 0px;
}
#llistaBusqueda #libusc{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-size: 20px;
    border-bottom: 1px solid #272727;
    
}
#divCapsalera{
    margin-top:0px;
    width: 100%;
    
    
}
#capçal{
    margin-bottom: 0px;
}

#imgPerfil{
    width: 235px;
    height: 235px;
    padding: 2px;
    border-radius: 5px;
    border: 1px double black;
    margin:15px 10px 10px 15px;
    
    
}
#divNom{
    font-size: 5px;
    font-family: fantasy;
    color:white;
    margin-left: 10px;
    z-index: 1;
}
#divNom h1{
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#divNom h2{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#configuracio{
    position:absolute;
    bottom: 0px;
    right: 0px;
}
#informacio_personal{
    padding-top: 25px;
    margin:10px 0px 5px 10px;
}
#informacio_professional{
    padding-top: 25px;
    margin:10px 0px 5px 10px;

}
#info{
    margin-right: auto;
}
#botoFan{
    position:absolute;
    bottom: 0;
    left: 1px;
}