.form{
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
    margin: 10px;
}
#img-profile{
    width: 230px;
    height: 230px;
}
@media only screen and (max-width: 892px) {
   
    #img-profile{
	margin:10px auto;
	display:block;
    }
}    